@import url("./fonts/fonts.css");
@import url("./variables.css");

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

html {
	min-height: 100dvh;
	width: 100dvw;
	font-size: 1rem;

	background-color: var(--background-color);
	color: var(--text-color);

	font-family: "Open Sans", sans-serif;

	h1 {
		color: var(--heading-color);
		font-weight: 600;
		font-size: 2.25em;
		margin-top: 0;
		margin-bottom: 0.88em;
		line-height: 1.11;
	}

	h2 {
		color: var(--heading-color);
		font-weight: 400;
		font-size: 1.5em;
		margin-top: 2em;
		margin-bottom: 1em;
		line-height: 1.33;
	}

	h3 {
		color: var(--heading-color);
		font-weight: 400;
		font-size: 1.25em;
		margin-top: 1.6em;
		margin-bottom: 0.6em;
		line-height: 1.6;
	}

	h4 {
		color: var(--heading-color);
		font-weight: 400;
		margin-top: 1.5em;
		margin-bottom: 0.5em;
		line-height: 1.5;
	}

	h5 {
		color: var(--heading-color);
		font-weight: 400;
		margin-top: 1.33em;
		margin-bottom: 0.4em;
		line-height: 1.4;
	}

	h6 {
		color: var(--heading-color);
		font-weight: 400;
		margin-top: 1.2em;
		margin-bottom: 0.2em;
		line-height: 1.3;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		& + p,
		& + ul,
		& + ol {
			margin-top: 0;
		}
	}

	p {
		margin: 1.25em 0;
		color: var(--sb-text-color);
	}

	a[:not(.social-button)] {
		color: var(--button-bg);
		font-weight: 600;
		text-decoration: none;
		box-shadow: var(--underline-color) 0 -0.5px 0 0 inset;
		cursor: pointer;
		transition: box-shadow 0.2s ease-in-out;
		outline: none;

		&:hover,
		&:focus {
			box-shadow: var(--heading-color) 0 -1px 0 0 inset;
		}
	}

	.initials {
		font-family: "Mindway", sans-serif;
		font-weight: 400;
	}

	header {
		a {
			color: var(--inactive);
			box-shadow: none;
			&:hover {
				color: var(--hover-inactive);
				box-shadow: none;
				text-decoration: underline;
				text-decoration-thickness: 1.5px;
				text-decoration-color: var(--hover-inactive);
				text-underline-offset: 0.1rem;
				transition: text-decoration 0.3s ease-in-out;
			}
		}

		.icon {
			box-shadow: none;

			&:hover {
				box-shadow: none;
			}
		}
	}

	.social-button {
		display: inline-flex;
		align-items: center;
		gap: 0.5em;
		outline: 1px solid;
		outline-color: var(--button-bg);
		border: none;
		padding: 0.2rem 0.3rem;
		border-radius: 0.375em;
		cursor: pointer;
		transition: background-color 0.2s ease-in-out;
		background-color: transparent;

		&:hover {
			background-color: var(--button-bg);
		}
	}
}
