@import url("./fonts/fonts.css");
@import url("./variables.css");

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *: : before, *: : after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

html {
	min-height: 100dvh;
	width: 100dvw;
	font-size: 1rem;

	background-color: var(--background-color);
	color: var(--text-color);

	font-family: "Open Sans", sans-serif;

	h1 {
		color: var(--heading-color);
		font-weight: 600;
		font-size: 2.25rem;
		margin-top: 0;
		margin-bottom: 0.88rem;
		line-height: 1.11;
	}

	h2 {
		color: var(--heading-color);
		font-weight: 400;
		font-size: 1.5rem;
		margin-top: 2rem;
		margin-bottom: 1rem;
		line-height: 1.33;
	}

	h3 {
		color: var(--heading-color);
		font-weight: 400;
		font-size: 1.25rem;
		margin-top: 1.6rem;
		margin-bottom: 0.6rem;
		line-height: 1.6;
	}

	h4 {
		color: var(--heading-color);
		font-weight: 400;
		margin-top: 1.5rem;
		margin-bottom: 0.5rem;
		line-height: 1.5;
	}

	h5 {
		color: var(--heading-color);
		font-weight: 400;
		margin-top: 1.33rem;
		margin-bottom: 0.4rem;
		line-height: 1.4;
	}

	h6 {
		color: var(--heading-color);
		font-weight: 400;
		margin-top: 1.2rem;
		margin-bottom: 0.2rem;
		line-height: 1.3;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		& + p,
		& + ul,
		& + ol {
			margin-top: 0;
		}
	}

	p {
		margin: 1.25rem 0;
		color: var(--text-color);
	}

	a:focus {
		outline: 2px solid var(--focus-outline);
		outline-offset: 2px;
	}

	a:not(.social-button):not(.header-link):not(.initials) {
		color: var(--heading-color);
		font-weight: 600;
		text-decoration: none;
		box-shadow: var(--underline-color) 0 -0.5px 0 0 inset;
		cursor: pointer;
		transition: box-shadow 0.2s ease-in-out;
		outline: none;

		&:hover,
		&:focus {
			box-shadow: var(--heading-color) 0 -1px 0 0 inset;
		}
	}

	.initials {
		font-family: "Mindway", sans-serif;
		font-weight: 600;
	}

	.header-link {
		color: var(--inactive);
		font-weight: 400;
		box-shadow: none;
		&:hover {
			color: var(--hover-inactive);
			box-shadow: none;
			text-decoration: underline;
			text-decoration-thickness: 1px;
			text-decoration-color: var(--hover-inactive);
			text-underline-offset: 0.1rem;
			transition: text-decoration 0.3s ease-in-out;
		}
	}

	.social-button {
		display: inline-flex;
		align-items: center;
		gap: 0.5rem;
		outline: 1px solid;
		color: var(--text-color);
		outline-color: var(--button-bg);
		border: none;
		padding: 0.2rem 0.3rem;
		border-radius: 0.375rem;
		cursor: pointer;
		transition: background-color 0.2s ease-in-out;
		background-color: transparent;

		&:hover {
			background-color: var(--button-bg);
		}
	}

	pre code {
		display: block;
		position: relative;
		padding-left: 1rem;
		tab-size: 4;

		overflow-x: hidden;
		white-space: pre-wrap;
		position: relative;

		padding-top: 12px;
		padding-bottom: 12px;
	}

	span.highlighted {
		display: inline-block;
		background-color: var(--code-highlight);
		width: calc(100% + 2rem);
		margin-left: -1rem;
		margin-right: -1rem;
		padding: 0 1rem;
	}
}

html[data-theme="dark"] {
	.shiki,
	.shiki span {
		color: var(--shiki-dark) !important;
		background-color: var(--shiki-dark-bg) !important;
	}

	.shiki.light-plus {
		display: none;
	}

	.shiki span.highlighted {
		background-color: var(--code-highlight) !important;
	}

	.shiki span.highlighted * {
		background: none !important;
		background-color: transparent !important;
	}
}
