:root {
	--background-color: #f2f0ef;
	--border-color: #c8c8c8;

	--inactive: #555555;
	--hover-inactive: #1a2421;

	--text-color: #232b2b;
	--heading-color: #111111;
	--underline-color: #888888;
	--button-bg: #d9d9d9;
}

:root[data-theme="dark"] {
	--background-color: #050505;
	--border-color: #212121;

	--inactive: #b8b8b8;
	--hover-inactive: #e1e1dd;

	--text-color: #b6b6b6;
	--heading-color: #e6e6e6;
	--underline-color: #a7a7a7;
	--button-bg: #2b2b2b;
}
