:root {
	--background-color: #ffffff;
	--inactive: #303030;
	--hover-inactive: #262626;
	--border-color: #bfbfbf;
	--text-color: #262626;
	--heading-color: #111111;
	--underline-color: #888888;
}

:root[data-theme="dark"] {
	--border-color: #303030;
	--inactive: #a6a6a6;
	--hover-inactive: #ffffff;
	--background-color: #050505;
	--text-color: #f3f2ed;
}
