:root {
	--background-color: #f2f0ef;
	--inactive: #555555;
	--hover-inactive: #1a2421;
	--border-color: #bfc1c2;
	--text-color: #232b2b;
	--heading-color: #111111;
	--underline-color: #888888;
	--button-bg: #d9d9d9;
}

:root[data-theme="dark"] {
	--border-color: #303030;
	--inactive: #a6a6a6;
	--hover-inactive: #ffffff;
	--background-color: #050505;
	--text-color: #f3f2ed;
}
