.icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.icon svg {
	width: 100%;
	height: 100%;
}

.icon-small {
	width: 24px;
	height: 24px;
}

.icon-medium {
	width: 32px;
	height: 32px;
}

.icon-large {
	width: 40px;
	height: 40px;
}
