@import "@unocss/reset/tailwind.css";
@import "@fontsource-variable/roboto";
@import "@fontsource-variable/epilogue";
@import "@fontsource-variable/fira-code";

@unocss;

:root {
	--font-heading: "Epilogue", sans-serif;
	--font-body: "Roboto", sans-serif;
	--font-code: "Fira Code", monospace;

	--black: #0d0907;

	--decoration-bg: #fff;
	--primary-text: #292927;
	--secondary-text: #fff;
	--link-text: #292927;
	--primary: var(--black);
	--border: #dce1e7;

	.ui-background {
		--angle: 45deg;
		background: linear-gradient(
			var(--angle),
			oklab(83.3% 0.063 0.049),
			oklab(83.2% 0.053 0.019),
			oklab(90.4% 0.028 0.009),
			oklab(93.6% -0.001 0.027)
		);
	}

	.ui-foreground {
		background-color: #ffffff94;
	}
}

:root[data-theme="dark"],
:root[data-theme="sdark"] {
	--primary-text: #fff;
	--secondary-text: #292927;
	--link-text: #fff;
	--decoration-bg: #0d1117;
	--border: #32363b;

	.ui-background {
		background-image:
			radial-gradient(
				at 79.35091539632431% 65.37367304478273%,
				hsla(0, 0%, 0%, 1) 0%,
				hsla(0, 0%, 0%, 0) 100%
			),
			radial-gradient(
				at 83.89819477905901% 5.364596735397297%,
				hsla(215.7983193277311, 100%, 23.333333333333332%, 1) 0%,
				hsla(215.7983193277311, 100%, 23.333333333333332%, 0) 100%
			),
			radial-gradient(
				at 68.73315097191943% 22.638947447338875%,
				hsla(330.3703703703703, 100%, 15.88235294117647%, 1) 0%,
				hsla(330.3703703703703, 100%, 15.88235294117647%, 0) 100%
			),
			radial-gradient(
				at 13.919204197221969% 58.69875307806367%,
				hsla(0, 0%, 0%, 1) 0%,
				hsla(0, 0%, 0%, 0) 100%
			),
			radial-gradient(
				at 14.968370711807266% 95.2480482571154%,
				hsla(0, 0%, 0%, 1) 0%,
				hsla(0, 0%, 0%, 0) 100%
			),
			radial-gradient(
				at 23.392339539475582% 8.911918525902374%,
				rgb(0, 35, 88) 0%,
				hsla(215.7983193277311, 100%, 23.333333333333332%, 0) 100%
			),
			radial-gradient(
				at 61.277802439879636% 98.4916588447043%,
				rgb(58, 0, 29) 0%,
				hsla(330.3703703703703, 100%, 15.88235294117647%, 0) 100%
			),
			radial-gradient(
				at 92.8593985980762% 0.9615584397614119%,
				hsla(0, 0%, 0%, 1) 0%,
				hsla(0, 0%, 0%, 0) 100%
			),
			radial-gradient(
				at 7.48907633756809% 60.7528480055547%,
				hsla(0, 0%, 0%, 1) 0%,
				hsla(0, 0%, 0%, 0) 100%
			),
			radial-gradient(
				at 60.219099447125934% 3.376227429744527%,
				rgb(0, 34, 85) 0%,
				hsla(215.7983193277311, 100%, 23.333333333333332%, 0) 100%
			),
			radial-gradient(
				at 84.42407765582398% 25.48572507626098%,
				rgb(56, 0, 28) 0%,
				hsla(330.3703703703703, 100%, 15.88235294117647%, 0) 100%
			),
			radial-gradient(
				at 80.2304924160387% 84.0811557196135%,
				hsla(0, 0%, 0%, 1) 0%,
				hsla(0, 0%, 0%, 0) 100%
			);
	}

	.ui-foreground {
		background-color: #ffffff2d;
	}
}

nav {
	font-family: var(--font-heading);
	color: var(--primary-text);
}

body {
	font-family: var(--font-body);
	color: var(--primary-text);
	font-size: 1rem;
	line-height: 1.5;
}

pre {
	font-family: var(--font-code);
}

code {
	font-family: var(--font-code);
	font-size: 1rem;
	line-height: 1.5;
}

main {
	p {
		a {
			text-decoration: underline;
			bold: 700;
			color: var(--link-text);
			padding: 0.15rem 0.15rem;

			&:hover,
			&:focus {
				color: var(--secondary-text);
				background-color: var(--primary);
			}
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-epilogue);
		font-weight: 800;
		width: fit-content;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		position: relative;
		&:hover {
			color: var(--primary);
			text-decoration: underline;
		}
	}

	h1 {
		font-size: 3.125rem;
		line-height: 1.75;
		letter-spacing: -0.0625rem;
		@media (max-width: 768px) {
			font-size: 2.5rem;
		}

		@media (max-width: 480px) {
			font-size: 1.5rem;
		}
	}

	h2 {
		font-size: 2.5rem;
		line-height: 1.25;
		letter-spacing: -0.0625rem;
		@media (max-width: 768px) {
			font-size: 2.125rem;
		}

		@media (max-width: 480px) {
			font-size: 1.5rem;
		}
	}

	h3 {
		font-size: 2.125rem;
		letter-spacing: -0.0625rem;
		@media (max-width: 768px) {
			font-size: 1.5rem;
		}

		@media (max-width: 480px) {
			font-size: 1.125rem;
		}
	}

	h4 {
		font-size: 1.875rem;
		@media (max-width: 768px) {
			font-size: 1.5rem;
		}

		@media (max-width: 480px) {
			font-size: 1.125rem;
		}
	}

	h5 {
		font-size: 1.125rem;
		@media (max-width: 768px) {
			font-size: 1rem;
		}
	}

	h6 {
		font-size: 1rem;
	}

	ol > li {
		list-style: decimal;
		list-style-position: inside;
		line-height: 1.35;
	}

	ul > li {
		list-style: disc;
		line-height: 1.35;
		list-style-position: inside;
		ul > li {
			margin-left: 2rem;
			list-style: circle;
			ul > li {
				margin-left: 2rem;
				list-style: square;
				ul > li {
					margin-left: 2rem;
					list-style: disc;
					ul > li {
						margin-left: 2rem;
						list-style: circle;
						ul > li {
							margin-left: 2rem;
							list-style: square;
						}
					}
				}
			}
		}
	}

	table {
		border-collapse: separate;
		border-spacing: 0;
		border: 1px solid var(--border);
		border-radius: 8px;
		background-color: var(--decoration-bg);
		text-align: left;
		margin-top: 1em;
		margin-bottom: 1em;
	}

	td,
	th {
		border-left: 1px solid var(--border);
		border-top: 1px solid var(--border);
	}

	th {
		border-top: none;
	}

	td:first-child,
	th:first-child {
		border-left: none;
	}
	& tr {
		& > * {
			padding: 0.25rem 0.5rem;
		}
	}
	tbody {
		font-size: 0.875rem;
	}
}
