@import "@unocss/reset/tailwind.css";
@import "@fontsource-variable/roboto";
@import "@fontsource-variable/epilogue";
@import "@fontsource-variable/fira-code";

@unocss;

:root {
	--font-heading: "Epilogue", sans-serif;
	--font-body: "Roboto", sans-serif;
	--font-code: "Fira Code", monospace;

	--black: #0d0907;

	--decoration-bg: #f8f8ff;
	--decoration-color: #292927;
	--primary-text: #292927;
	--secondary-text: #f8f8ff;
	--link-text: #292927;

	--angle: 45deg;

	.ui-background {
		background: radial-gradient(circle at bottom, #f7b7a3, #f0ead6);
	}

	.ui-foreground {
		background-color: #ffffff94;
	}
}

:root[data-theme*="dark"] {
	--primary-text: #f8f8ff;
	--secondary-text: #edb4ab;
	--link-text: #f8f8ff;

	--decoration-bg: #0d1117;
	--decoration-color: #f8f8ff;
	--border: #32363b;

	.ui-background {
		background: radial-gradient(circle at bottom, #260502, #00002f);
	}

	.ui-foreground {
		background-color: #ffffff2d;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-epilogue);
	font-weight: 600;
	width: fit-content;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	position: relative;
}

h1 {
	font-size: 2.25em;
	margin-top: 2rem;
	margin-bottom: 0.88em;
	line-height: 1.11;
}

h2 {
	font-size: 1.825em;
	margin-top: 1.25em;
	margin-bottom: 0.75em;
	line-height: 1.33;
}

h3 {
	font-size: 1.75em;
	margin-top: 1.25em;
	margin-bottom: 0.625em;
	line-height: 1.33;
}

h4 {
	margin-top: 1.625em;
	margin-bottom: 0.5em;
	line-height: 1.5;
}

h5 {
	margin-top: 1.5em;
	margin-bottom: 0.4em;
	line-height: 1.4;
}

h6 {
	margin-top: 1.33em;
	margin-bottom: 0.2em;
	line-height: 1.3;
}

li {
	margin-left: 1.5rem;

	&::marker {
		font-weight: 400;
		color: var(--sb-decoration-color);
	}

	& > p {
		margin: 0;
		margin-bottom: 0.5em;
	}
}

ol {
	list-style-type: decimal;
}

ul {
	list-style-type: disc;
}

ol,
ul {
	padding-left: 1.625em;
}

nav > ol {
	padding: 0;
	margin: 0;
	list-style-type: none;

	& li {
		list-style-type: none;
		margin-top: 0.5em;
	}
}

body {
	font-family: var(--font-body);
	color: var(--primary-text);
	font-size: 1rem;
	line-height: 1.5;
}

pre {
	font-family: var(--font-code);
}

code {
	font-family: var(--font-code);
	font-size: 1rem;
	line-height: 1.5;
}

a {
	text-decoration: underline;
	bold: 700;
	color: var(--link-text);
	padding: 0.15rem 0.15rem;

	&:hover,
	&:focus {
		color: var(--secondary-text);
	}
}

p {
	margin: 0.5em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	& > a {
		color: var(--link-text);
		text-decoration: none;
	}

	& + p,
	& + ul,
	& + ol {
		margin-top: 0;
	}

	&:hover {
		color: var(--secondary-text);
		text-decoration: underline;
	}
}

table {
	border-collapse: separate;
	border-spacing: 0;
	border: 1px solid var(--border);
	border-radius: 8px;
	background-color: var(--decoration-bg);
	text-align: left;
	margin-top: 1em;
	margin-bottom: 1em;
}

td,
th {
	border-left: 1px solid var(--border);
	border-top: 1px solid var(--border);
}

th {
	border-top: none;
}

td:first-child,
th:first-child {
	border-left: none;
}
& tr {
	& > * {
		padding: 0.25rem 0.5rem;
	}
}
tbody {
	font-size: 0.875rem;
}

hr {
	margin: 2rem 0;
	border-top: 1px solid
		color-mix(in hsl, var(--decoration-color) 15%, transparent);
	color: transparent;
}

blockquote {
	border-left: 0.15em solid var(--decoration-color);
	padding-left: 1em;
}
