@import "@unocss/reset/tailwind.css";
@import "@fontsource-variable/roboto";
@import "@fontsource-variable/epilogue";
@import "@fontsource-variable/fira-code";

@unocss;

:root {
	--font-heading: "Epilogue", sans-serif;
	--font-body: "Roboto", sans-serif;
	--font-code: "Fira Code", monospace;

	--black: #0d0907;

	--decoration-bg: #f8f8ff;
	--primary-text: #292927;
	--secondary-text: #f8f8ff;
	--link-text: #292927;
	--primary: var(--black);
	--border: #dce1e7;
	--angle: 45deg;

	.ui-background {
		background: radial-gradient(circle at bottom, #f7b7a3, #f0ead6);
	}

	.ui-foreground {
		background-color: #ffffff94;
	}
}

:root[data-theme*="dark"] {
	--primary-text: #f8f8ff;
	--secondary-text: #292927;
	--link-text: #f8f8ff;
	--decoration-bg: #0d1117;
	--border: #32363b;

	.ui-background {
		background: radial-gradient(circle at bottom, #260502, #00002f);
	}

	.ui-foreground {
		background-color: #ffffff2d;
	}

	.ui-toc li {
		list-style: none;
	}
}

nav {
	font-family: var(--font-heading);
	color: var(--primary-text);
}

body {
	font-family: var(--font-body);
	color: var(--primary-text);
	font-size: 1rem;
	line-height: 1.5;
}

pre {
	font-family: var(--font-code);
}

code {
	font-family: var(--font-code);
	font-size: 1rem;
	line-height: 1.5;
}

main {
	p {
		a {
			text-decoration: underline;
			bold: 700;
			color: var(--link-text);
			padding: 0.15rem 0.15rem;

			&:hover,
			&:focus {
				color: var(--secondary-text);
				background-color: var(--primary);
			}
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-epilogue);
		font-weight: 800;
		width: fit-content;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		position: relative;
		&:hover {
			color: var(--primary);
			text-decoration: underline;
		}
	}

	h1 {
		font-size: 3.125rem;
		line-height: 1.75;
		letter-spacing: -0.0625rem;
		@media (max-width: 768px) {
			font-size: 2.5rem;
		}

		@media (max-width: 480px) {
			font-size: 1.5rem;
		}
	}

	h2 {
		font-size: 2.5rem;
		line-height: 1.25;
		letter-spacing: -0.0625rem;
		@media (max-width: 768px) {
			font-size: 2.125rem;
		}

		@media (max-width: 480px) {
			font-size: 1.5rem;
		}
	}

	h3 {
		font-size: 2.125rem;
		letter-spacing: -0.0625rem;
		@media (max-width: 768px) {
			font-size: 1.5rem;
		}

		@media (max-width: 480px) {
			font-size: 1.125rem;
		}
	}

	h4 {
		font-size: 1.875rem;
		@media (max-width: 768px) {
			font-size: 1.5rem;
		}

		@media (max-width: 480px) {
			font-size: 1.125rem;
		}
	}

	h5 {
		font-size: 1.125rem;
		@media (max-width: 768px) {
			font-size: 1rem;
		}
	}

	h6 {
		font-size: 1rem;
	}

	ol > li {
		list-style: decimal;
		list-style-position: inside;
		line-height: 1.35;
	}

	ul > li {
		list-style: disc;
		line-height: 1.35;
		list-style-position: inside;
		ul > li {
			margin-left: 2rem;
			list-style: circle;
			ul > li {
				margin-left: 2rem;
				list-style: square;
			}
		}
	}

	table {
		border-collapse: separate;
		border-spacing: 0;
		border: 1px solid var(--border);
		border-radius: 8px;
		background-color: var(--decoration-bg);
		text-align: left;
		margin-top: 1em;
		margin-bottom: 1em;
	}

	td,
	th {
		border-left: 1px solid var(--border);
		border-top: 1px solid var(--border);
	}

	th {
		border-top: none;
	}

	td:first-child,
	th:first-child {
		border-left: none;
	}
	& tr {
		& > * {
			padding: 0.25rem 0.5rem;
		}
	}
	tbody {
		font-size: 0.875rem;
	}
}
