@font-face {
	font-family: "Mindway";
	src: url("./Mindway.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url("./OpenSans.ttf") format("truetype");
	font-weight: 300 400 500 600 700 800;
	font-style: italic normal;
}
