.icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: transparent;
	stroke: red;
}

.icon-small {
	width: 16px;
	height: 16px;
}

.icon-medium {
	width: 24px;
	height: 24px;
}

.icon-large {
	width: 32px;
	height: 32px;
}
